[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/akash/des/electronic.xopp]
row=0
col=17

[/home/akash/des/ncert-subjects.xopp]
row=1
col=17

[/home/akash/des/NCERT]
row=0
col=0

[/home/akash/des/xopp2pdf]
row=1
col=0

[/home/akash/des/my.pdf]
row=4
col=0

