[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/akash/des/NCERT]
row=1
col=0

[/home/akash/des/Xournal]
row=0
col=0

[01DA4A8B45889720]
row=1
col=17

[86B6-37E7]
row=2
col=0

[Trash]
row=0
col=17

